@charset "UTF-8";

@import url(./styles/navbar.css);
@import url(./styles/header.css);
@import url(./styles/metric.css);
@import url(./styles/main.css);
@import url(./styles/depoiments.css);
@import url(./styles/footer.css);

@import url(teste.css);

:root {
    /* cores */
    --cor-principal: #8E2424;
    --cor-secundaria: #101828;
    --cor-terciaria: #667085;
    --cor-quartearia: #3A404E;
    --cor-quinta: #bbbbbb;
    --cor-fundo: #ffffff;
    --cor-fundo-rosa: #8E24240D;
    --cor-fundo-cinza: #f7f7f7;
    /* fontes */
    --fonte-principal: 'inter';
}

body {
    background-color: var(--branco);
    font-family: var(--fonte-principal);
    color: var(--cor-terciaria);
    font-weight: 500;
    /* apenas para visualização das etapas */
}

body a {
    text-decoration: none;
    color: var(--cor-terciaria);
}