.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 6em;    
}

.cabecalho__sobrenos {
    color: var(--cor-principal);
    font-weight: 600;
}

.cabecalho__titulo {
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-secundaria);
}

.cabecalho__texto {
    font-size: 1.25em;
    font-weight: 400;
    max-width: 800px;
    text-align: center;
    padding: 0.5em;
    line-height: 1.5em;
}