.navbar {
    height: 80px; 
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    gap: 10%;
}

/* Logo */

.navbar__container-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo__titulo {
    color: var(--cor-quartearia);
    font-size: 18px;
}

/* lista */

.navbar__lista {
    display: flex;
    align-items: center;
    gap: 3em;
    margin-right: auto;
    text-align: center;
}

/* botoes */

.navbar__container-botoes {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.botao {
    display: block;
    padding: 1em 1.5em;
    border-radius: 8px;
}

.botao-secundario {
    color: var(--cor-fundo);
    background-color: var(--cor-principal);
}